:root{
    --orange:#ff7800;
    --black:#130f40;
    --light-color:#666;
    --box-shadow:0 .5rem 1.5rem rgba(0,0,0,.1);
    --border:.2rem solid rgba(0,0,0,.1);
    --outline:.1rem solid rgba(0,0,0,.1);
    --outline-hover:.2rem solid var(--black);
}

.regist{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
}
.regist div img{
    grid-column: 4/5;
    width: 40rem;
}

form {
    grid-column: 1/4;
}

table tr td{
    font-size: 1.6rem;
    width: 40rem;
    
}

#type{
    width: 90%;
    margin:.7rem 0;
    padding:1rem;
    border-radius: .5rem;
    font-size: 1.6rem;
    border: var(--border);
}

#type:focus{
    border: .2rem solid var(--orange);
}
